.WeatherForecast {
  text-align: center;
}

.WeatherForecast .col {
  margin: 7px 0px -15px 0px;
}

.WeatherForecast-day {
  font-weight: bold;
  font-size: 20px;
}

.WeatherForecast-max {
  font-weight: bold;
  margin-right: 5px;
}

.WeatherForecast-icon {
  margin: -5px 0;
}

.futureForecast {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
  padding-right: 59%;
  margin-top: 20px;
}
