.Weather {
  background-color: #bbe4e9;
  border: 1px solid white;
  border-radius: 20px;
}

input {
  margin-top: 30px;
  margin-bottom: 35px;
}

.Weather .current-btn {
  margin-left: 5px;
}

.Weather .current-weather-description {
  font-size: 20px;
  font-weight: 600;
}

.Weather .overview {
  margin-bottom: 50px;
}
